<h1>{{resume.name}}</h1>
<a href="http://www.linkedin.com/in/{{resume.linkedin}}">      
<img ng-show="resume.linkedin" src="https://static.licdn.com/scds/common/u/img/webpromo/btn_liprofile_blue_80x15.png" alt="View Simon Jones's profile on LinkedIn"></a>

<h2>Certifications</h2>
<p ng-repeat="certification in resume.certifications">
{{certification.title}}
</p>

<h2>Employment History</h2>
<div ng-repeat="job in resume.jobs">
	<h3>{{job.title}}</h3>
	<h4>{{job.company}}</h4>
	<p>{{job.startDate}} to {{job.endDate}}</p>
	<ul ng-repeat="achievement in job.achievements">
		<li>{{achievement}}</li>
	</ul>
</div>

<h2>Education</h2>

<h2>Awards</h2>

<h2>Languages Spoken</h2>
<ul ng-repeat="language in resume.languages">
	<li>{{language.name}} - {{language.proficiency}}</li>
</ul>

<h2>Personal Interests</h2>
<p>{{resume.interests}}</p>